<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<main>
    <div id="title">
        <h1>Find your new best friend and adopt a dog today!!!</h1>
    </div>
    <div id="aboutUs">
        <h3>About Us</h3>
        <p>
            At The Dawg House, we are passionate about finding loving homes for rescue dogs in need. We believe that every dog deserves a 
            second chance at happiness. When you adopt you can rest assured that you are making a positive impact on the life of a shelter
            dog. Thank you for supporting our mission to rescue and rehome dogs in need. Together, we can make a difference in the lives 
            of animals and create a more compassionate world.
        </p>
    </div>
    <div id="links">
        <ul>
            <li><a href="/search">Find a dog now</a></li>
            <li><a href="/market">Visit our Pet Store</a></li>
            <li><a href="/profile">Make your profile</a></li>
        </ul>
    </div>
    <a href="/logout">Logout</a>
</main>

<%- include ('../partials/footer') %>