<main>
    <section class="section">
        <div class="container">
            <h1>Interests</h1>
        </div>
    </section>
    <div class="container">
        <h1>Pet store</h1>
        <h5>Foods</h5>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-25">
                    <img src="https://m.media-amazon.com/images/I/71Azp-504uL._AC_UL400_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Purina ONE Dry Dog Food Lamb and Rice Formula - 31.1 Lb. Bag</h5>
                        <p class="card-text">Natural dog food with added vitamins, minerals, and nutrients has a Purina ONE SmartBlend of 
                            high-quality ingredients, including quality carbohydrate sources, that helps support dog 
                            nutritional needs.</p>
                        <a href="https://www.amazon.com/Purina-Smartblend-Natural-Formula-Adult/dp/B009IOCCD2/ref=sr_1_1_sspa?crid
                        =2OJ905YMGZJRS&keywords=dog+food&qid=1681614881&rdc=1&sprefix=dog+food%2Caps%2C130&sr=8-1-spons&psc=1&spLa
                        =ZW5jcnlwdGVkUXVhbGlmaWVyPUFKRkEwUURLODJPRFUmZW5jcnlwdGVkSWQ9QTA1NjcyNzcyQ1lIM0NUSzIyN1NXJmVuY3J5cHRlZEFkSW
                        Q9QTA2NzcyNDAxRkcxSjlVNk1SQ1U2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ
                        ==">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-25">
                    <img src="https://m.media-amazon.com/images/I/71Azp-504uL._AC_UL400_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Purina ONE Dry Dog Food Lamb and Rice Formula - 31.1 Lb. Bag</h5>
                        <p class="card-text">Natural dog food with added vitamins, minerals, and nutrients has a Purina ONE SmartBlend of 
                            high-quality ingredients, including quality carbohydrate sources, that helps support dog 
                            nutritional needs.</p>
                        <a href="https://www.amazon.com/Purina-Smartblend-Natural-Formula-Adult/dp/B009IOCCD2/ref=sr_1_1_sspa?crid
                        =2OJ905YMGZJRS&keywords=dog+food&qid=1681614881&rdc=1&sprefix=dog+food%2Caps%2C130&sr=8-1-spons&psc=1&spLa
                        =ZW5jcnlwdGVkUXVhbGlmaWVyPUFKRkEwUURLODJPRFUmZW5jcnlwdGVkSWQ9QTA1NjcyNzcyQ1lIM0NUSzIyN1NXJmVuY3J5cHRlZEFkSW
                        Q9QTA2NzcyNDAxRkcxSjlVNk1SQ1U2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ
                        ==">Purchase</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-25">
                    <img src="https://m.media-amazon.com/images/I/71Azp-504uL._AC_UL400_.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Purina ONE Dry Dog Food Lamb and Rice Formula - 31.1 Lb. Bag</h5>
                        <p class="card-text">Natural dog food with added vitamins, minerals, and nutrients has a Purina ONE SmartBlend of 
                            high-quality ingredients, including quality carbohydrate sources, that helps support dog 
                            nutritional needs.</p>
                        <a href="https://www.amazon.com/Purina-Smartblend-Natural-Formula-Adult/dp/B009IOCCD2/ref=sr_1_1_sspa?crid
                        =2OJ905YMGZJRS&keywords=dog+food&qid=1681614881&rdc=1&sprefix=dog+food%2Caps%2C130&sr=8-1-spons&psc=1&spLa
                        =ZW5jcnlwdGVkUXVhbGlmaWVyPUFKRkEwUURLODJPRFUmZW5jcnlwdGVkSWQ9QTA1NjcyNzcyQ1lIM0NUSzIyN1NXJmVuY3J5cHRlZEFkSW
                        Q9QTA2NzcyNDAxRkcxSjlVNk1SQ1U2JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ
                        ==">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>