<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


**This is how I plan to layout this page, can't fill it in with the real dogs because the dog API call isn't done yet**
**It's three rows of 3 dogs each with a button to contact the shelter and it will also have information on the dog once the API call is done**

<div class="Dog-Display-bar" style="margin:0 -16px">

    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
    
    
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
    
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>

<div class="Dog-Display-bar" style="margin:0 -16px">

    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
        
        
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
        
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>

<div class="Dog-Display-bar" style="margin:0 -16px">

    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
            
            
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>
            
    <div class="third">
    <div class="Dog card">
    <h3>**dog Image**</h3>
    <div class="square"></div>
    <a target="_blank" href="**messageshelterpage**" class="">
      Message The Shelter »</a>
    </div>
    </div>




<%- include ('../partials/footer') %>