<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


**This is how I plan to layout this page, can't fill it in with the real dogs because the dog API call isn't done yet**
**It's three rows of 3 dogs each with a button to contact the shelter and it will also have information on the dog once the API call is done**

<main>
    <section class="section">
        <div class="container">
            <h1>Dog List</h1>
        </div>
    </section>
    <div class="container">
        <h1>DOGS</h1>
        <h5>Available</h5>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">David - Lab mix</h5>
                        <p class="card-text">Blah blah blah age weight size</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sarah- Dachsund mix</h5>
                        <p class="card-text">Blah blah blah age weight size, I'm so cute!!!!! --- This will all be filled in by the api call</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">David - Lab mix</h5>
                        <p class="card-text">Blah blah blah age weight size</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">David - Lab mix</h5>
                        <p class="card-text">Blah blah blah age weight size</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">David - Lab mix</h5>
                        <p class="card-text">Blah blah blah age weight size</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-20">
                    <img src="the dogs picture from the api call" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">David - Lab mix</h5>
                        <p class="card-text">Blah blah blah age weight size</p>
                        <a href="linktotheshelter">Adopt Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>